use_flake

use_sops_env() {
    local path=${1:-$PWD/.env.enc.yaml}
    shift 1  # Shift the arguments so $@ contains only variable names

    if [ $# -eq 0 ]; then
        # No specific variables specified, decrypt and load all variables
        echo "Loading all variables from decrypting environment file..."
        eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    else
        echo "Loading specific variables from decrypting environment file..."
        echo "Variables: $@"
        # Decrypt the file and filter to include only specified variables
        local filtered_env=$(sops -d  --output-type dotenv "$path" | grep -E "^($(echo $@ | tr ' ' '|'))=")

        # Use direnv to load the filtered environment variables
        eval "$(echo "$filtered_env" | direnv dotenv bash /dev/stdin)"
    fi

    watch_file "$path"
}

use_sops_env
